<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dataVisualization</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入ECharts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <!-- 引入jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div style="text-align: center;">
        <h1 style="font-size: large;">you have already started this project</h1>
    </div>
    <!-- ECharts DOM -->
    <div id="main" style="width: 800px; height: 600px; background-color: antiquewhite;"></div>
    <script src="{{ url_for('static', filename='js/roma.js') }}"></script>
    <script>
        var myChart = echarts.init(document.getElementById('main'), 'roma');
    </script>
</body>
</html>