body {
    background-color: #eaf1f5; 
    background-image: url(''); /*海洋背景图片https://global.bing.com/th?id=OHR.ZanzibarBoats_ZH-CN2915388379_UHD.jpg *//*../images/ocean3.jpg*/
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


h1 {
    font-size: 3em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 255, 255, 0.7);
    animation: glow 2s ease-in-out infinite alternate;
}

#button_flash {
    background-color: #407773;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}



/* 全屏黑色背景容器 */
#welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeInOut 1.5s ease-in-out forwards;
    z-index: 9999;
}

/* 白色的 "welcome" 文本 */
#welcome-text {
    color: white;
    font-size: 50px;
    font-family: Arial, sans-serif;
}

/* 渐入渐出效果 */
@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 卡片的样式 */
#teamInfo{
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: #ffffff; /* 背景颜色 */
    border-radius: 12px; /* 圆角 */
    box-shadow: 0 10px 30px rgba(65, 73, 78, 0.15); /* 阴影效果 */
    transform: scale(0.95);
}

#teamRank {
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: #ffffff; /* 背景颜色 */
    border-radius: 16px; /* 更柔和的圆角 */
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1); /* 增强阴影效果 */
    transform: scale(0.95);
}

/* 隐藏时的样式 */
.hide {
    transform: scale(0.9);
    opacity: 0;
}

/* 显示时的样式 */
.show {
    transform: scale(1);
    opacity: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9; /* 柔和的背景颜色 */
    border-radius: 12px; /* 表格圆角 */
    overflow: hidden; /* 确保圆角应用于表格整体 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); /* 阴影 */
}

th, td {
    padding: 15px; /* 增加填充 */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 字体 */
    font-size: 14px; /* 字体大小 */
}

th {
    background-color: #334868; /* 深灰蓝背景，增强对比度 */
    color: #ffffff; /* 表头文字颜色 */
    text-transform: uppercase; /* 表头文字大写*/
    letter-spacing: 0.8px; /*字母间距 */
}

tr:nth-child(odd) {
    background-color: #455A64; /* 深灰色作为奇数行背景，更适合浅色文字 */
    color: #ECEFF1; /* 奇数行文字颜色*/
}

tr:nth-child(even) {
    background-color: #607D8B; /* 蓝灰色作为偶数行背景 */
    color: #ECEFF1; /* 偶数行文字颜色*/
}

/* 行鼠标悬停效果 */
tr:hover {
    background-color: #78909C; /* 悬停时的浅蓝灰背景色 */
    color: #130404; /* 悬停时文字颜色 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 添加平滑过渡效果 */
}



#github-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
}

#github-link svg {
    transition: transform 0.3s ease;
}

#github-link:hover svg {
    transform: scale(1.1);
}